/* Light 300 */
@font-face {
	font-family: "Lato";
	src: url("/lato-v2/fonts/Lato-Light.woff2") format("woff2"),
		url("/lato-v2/fonts/Lato-Light.woff") format("woff"),
		url("/lato-v2/fonts/Lato-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

/* Regular 400 */
@font-face {
	font-family: "Lato";
	src: url("/lato-v2/fonts/Lato-Regular.woff2") format("woff2"),
		url("/lato-v2/fonts/Lato-Regular.woff") format("woff"),
		url("/lato-v2/fonts/Lato-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

/* Bold 700 */
@font-face {
	font-family: "Lato";
	src: url("/lato-v2/fonts/Lato-Bold.woff2") format("woff2"),
		url("/lato-v2/fonts/Lato-Bold.woff") format("woff"),
		url("/lato-v2/fonts/Lato-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

/* Black 900 */
@font-face {
	font-family: "Lato";
	src: url("/lato-v2/fonts/Lato-Black.woff2") format("woff2"),
		url("/lato-v2/fonts/Lato-Black.woff") format("woff"),
		url("/lato-v2/fonts/Lato-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}

