#root {
	max-width: 1280px;
	margin: 2rem;
}

.italic {
	font-style: italic;
}

.note {
	max-width: 1280px;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	min-width: 600;
}

.sample-block p {
	margin: 0px 0px 16px 0px;
}
