#root {
	max-width: 1280px;
	margin: 2rem;
}

.italic {
	font-style: italic;
}

.f-lato {
	font-family: Lato, "Courier New", serif;
}
.note {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	min-width: 600;
}
